html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  background: transparent;
  box-sizing: border-box;
}

:root {
  --header-height: 140px;
  --lime: #d7f72b;
  --dark: #0b0d04;
  --olive: #525b25;
  --soft-lime: #bbcc65;
  --white: #ffffff;
}

/*HEADER SECTION */

    html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }


    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
    }
    /*
    body { 
      padding-top: 151px;
    }
      */

    .left-section {
      color:darkgray;
      display: flex;
      align-items: center;
      font-family: Flamenco;
      padding-left: 12px;
  
    }
    
   .header {
      display: grid;
      grid-template-columns: auto 1fr auto;
      align-items: center;
      height: 140px;
      padding: 20px 0px;
      background: white;
   }

    header {
      position: fixed;
      top:0;
      width:100%;
     
      background-color:white;
      z-index: 9999;
    }

    .s-title {
      width: auto;
      max-height: 130px;
      height: auto;
      object-fit: contain;
    }



    .nav-1 {
      justify-self: center;
      position: relative;
    }

    .nav-1 ul {
      display: flex;
      gap: 30px;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      font-family: Roboto, arial;
      list-style: none;
      padding: 0;
      margin: 0;
      
    }

    .nav-1 a {
      text-decoration: none;
      color: var(--olive);
      font-family: Arial;
      font-size: 1.5rem;
      flex-wrap: nowrap;

    }

    .hamburger {
      display: none;
      flex-direction: column;
      gap: 6px;
      padding: 12px;
      cursor: pointer;
      justify-self: end;
    }

    .hamburger span {
      width: 30px;
      height: 3px;
      background: black;
      border-radius: 3px;
      transition: 0.3s;
    }

    .hamburger.active span:nth-child(1) {
      transform: rotate(45deg) translate(6px, 6px);
    }

    .hamburger.active span:nth-child(2) {
      opacity: 0;
    }

    .hamburger.active span:nth-child(3){
      transform: rotate(-45deg) translate(6px, -6px);
    }

    section {
      scroll-margin-top: var(--header-height);
    }

    .n-a {
      margin-right: 8px;
      text-decoration: none;
      color: black;
      font-size: 15px;
      white-space: nowrap;
    }

    a:hover {
      text-decoration: underline;
      transform:scale(1.1);
      transition : transform 0.2 ease;
      cursor: pointer;
    }

    .right-section {
      display:flex;
      align-items: center;
      justify-self: end;
      margin-right: 0;
      width: auto;
      gap: 16px;
      color: burlywood;
      padding-right: 0px;
    }

    .icon {
      width: 30px;
      height: 30px;
    }

    .right-section a:hover img,
    .btn-1, .s-button:hover, .pic-btn:hover, .pic-btn:hover  {
      transform: scale(1.1);
      transition: transform 0.2s ease;
      cursor: pointer;
    }

    .s-button, .call-btn  {
      background: var(--lime);
      color: var(--dark);
      padding: 12px 22px;
      border-radius: 999px;
      font-weight: 600;
      border: none;
      cursor: pointer;
      box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    }

    .call-btn {
      margin-right: 34px;
    }


    /* IMAGE CAROSEL */

    .img-1 {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: calc(100vh - 150px);
      overflow: hidden;
      margin-top: 150px;
    }

    .carousel-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50);
      font-size: 40px;
      color: white;
      background: rgba(0,0,0,0.5);
      padding: 10px 16px;
      cursor: pointer;
      border-radius: 50%;
      z-index: 10;
    }

    .carousel-btn.prev {
      left: 20px;
    }

    .carousel-btn.next {
      right: 20px;
    }

    .img-1 img {
      width:100%;
      height: 100%;
      object-fit: cover;
      display: none;
      position: absolute;
      top:0;
      left:0;
    }

    .img-1 img.active {
      display:block;
    }

    .dots {
      display: flex;
      justify-content: center;
      gap: 8px;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
    }

    .dot {
      width: 12px;
      height: 12px;
      background-color: #D7F72B;
      border-radius: 50%;
      display: inline-block;
      transition : background-color 0.3;
      border: 2px solid white;
    }

    .active-dot {
      background-color: lightgrey;
    }

    /* CALL TO ACTION */

    .call-to-action {
      text-align: center;
    }

    /* MID SECTION */

    .mid-section {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 40px;
      align-items: stretch;
      padding: 10px 20px;
      margin-right: 0 auto;
      border: none;
      text-align: center;
      max-width:1200px;
      justify-content: center;
    }

    .service-card {
      display: flex;
      flex-direction: column;
      justify-content:center;
      width: 100%;
      background: var(--white);
      padding: 10px;
      border-radius: 16px;
      box-shadow: 0 10px 30px rgba(0,0,0,0.08);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .service-card ul {
      margin-top: auto;
      
    }

    .service-card:hover {
      transform: scale(1.05);
    }

    

    .mid-section h2 {
      font-family: sans-serif;
      margin: 10px 0;
    }

    .li-1 {
      display: grid;
      grid-template-columns: 1fr;
      gap: 5px 30px;
      list-style: none;
      padding: 0;
      margin-bottom: 5px;
      line-height: 1.0;
      font-family: Arial, Helvetica, sans-serif;
    }

    /* CLICKABLE PICS */

    .pic-link img {
      padding-top: 2px;
      width:100%;
      height: auto;
      max-height: 300px;
      object-fit:cover;
      
     
      
    }

    .pic-link {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
       
    }

    .pic-wrapper {
      position: relative;
      width: 100%;
      max-width: 450px;
      aspect-ratio: 4 / 3;
    }

    .pic-wrapper img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 10px; 
    }

    .pic-btn {
      position: absolute;
      bottom:15px;
      left:50%;
      transform: translateX(-50%);

      width: clamp(200px, 70%, 260px);
      font-weight: 600;
      height: 48px;
      padding:12px 20px;
      border-radius: 999px;
      font-size: 15px;
      background-color: var(--lime);
      color: var(--dark);
      border: none;
      cursor: pointer;
      box-shadow: 0px 4px 8px #D7F72B;
    }

    .pic-btn2 {
      position: absolute;
      bottom:10px;
      right:75px;
      padding:15px;
      border-radius: 20px;
      font-size: 15px;
      background-color: rgb(143, 143, 9);
    }

    /* WHO WE ARE SECTION */

    .who-section {
      max-width : 800px;
      margin: 0 auto;
      text-align: center;
      padding: 4rem 3rem;
      border: none;
      /*background-image: url("images/IMG_1857.jpg");*/
      background-size: cover;
      background-position: bottom;
      background-repeat: no-repeat;
      border-radius: 10px;
      position: relative;
      overflow: hidden;
    }

    .who-section::before {
      content: '';
      position:absolute;
      inset: 0;
      background:#525b25;
      filter: blur(px);
      opacity: 0.9;
      z-index: 0;
    }

    .who-section * {
      position: relative;
      z-index: 1;
      color: white;
    }

    .about {
      font-family: Arial, Helvetica, sans-serif;
      padding-top: 1.5rem;
    }

    .fam-pic {
      width: 100%;
      max-width: 200px;
      height: auto;
      object-fit: cover;
      display: block;
      margin: 20px auto;
      border-radius: 10px;
    }

    /* BEFORE AND AFTERS */
    .baa {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      max-width: 1200px;
      margin: 0 auto;
      text-align: center;
    }

    .baa h1,
    .final-scroll h1 {
      grid-column: 1 / -1;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
    }

    .baa img {
      width: 100%;
      height: 350px;
      border-radius: 8px;
      object-fit: cover;  
    }

    .baa img:hover {
      transform: scale(1.15);
      cursor: pointer;

    }

    .img-box {
      position: relative;
    }

    .img-box img {
      width: 100%;
      border-radius: 8px;
    }

    .tag {
      position: absolute;
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);
      background:var(--olive);
      color: white;
      padding: 4px 15px;
      border-radius: 999px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 25px;
    }

    /* FINAL PICS */

    .f-pic {
      width: 300px;
      height: 200px;
      flex-shrink: 0;
      object-fit: cover;
      border-radius: 10px;
    }

    .final-scroll {
      width: 100%;
      overflow: hidden;
      
      margin-top: 20px;
    }

    .scroll-track {
      display: flex;
      gap: 20px;
      animation: scrollAnim 50s linear infinite;
    }

    .scroll-track img {
      flex-shrink: 0;
    }

    @keyframes scrollAnim {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(-2540px);
      }
    }

    /* CONTACT FORM */

    .contact {
      display: flex;
      flex-direction: column;
      padding: 50px;
      max-width: 600px;
      margin: 0 auto;
      align-items: center;
      gap: 15px;
      border-radius: 20px;
      backdrop-filter: blur(10px);
       box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
      background: linear-gradient(
    135deg,
    var(--lime),
    var(--soft-lime),
    var(--white)
  );
    }

    .contact input,
    .contact textarea {
      width: 100%;
      max-width: 500px;
      padding: 12px;
      font-size: 18px;
      border-radius: 25px;
      box-sizing: border-box;
      border-color: white;
      background-color: white;
    }

    .contact textarea {
      height: 150px;
      resize: vertical;
    }

    .contact input[type="file"] {
      padding: 6px 0;
    }

    .input-area {
      padding: 20px;
    }

    .form-header {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      gap: 20px;
      margin-bottom: 20px;
    }

    .form-logo {
      object-fit: contain;
      width: 45%;
      
    }

    .form-header .input-area {
      flex: 1;
    }

    .form-grid {
      display: grid;
      grid-template-columns: 140px 1fr;
      gap: 16px 20px;
      align-items: center;
      width: 100%
    }

    .form-grid input,
    .form-grid textarea {
      width: 100%;
    }

    .fieldset {
      padding: 50px;
    }

    footer {
      text-align: center;
    }

    .section-title
     {
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      color: var(--olive);
      padding-top: 2rem;
    }

    .section-title {
      color:#525b25;
    }

    .nav-1 ul {
      display: flex;
      position: static;
      width: auto;
      background: transparent;
      flex-direction: row;
    }
    /* TABLET SIZE */
    @media (max-width: 1024px) {
  .mid-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

 @media (max-width: 900px) {
  .nav-1 ul {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  /*.call-btn {
    display:
  } */
 }

    /* PHONE SIZE */

    @media (max-width: 600px) {
      :root {
        --header-height: 130px;
      }

      .left-section {
        flex: 0 0 auto;
      }

      .s-title {
       height: 90px;
       width: auot;
       padding-left: 2rem;
      }

      header {
        justify-content: space-between;
        height: 100px;
        align-items: center;
        padding: 20px 0;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
      }

      .right-section {
        justify-content: center;
        display: flex;
        align-items: center;
        
        padding-left: 1rem;

      }

      .hamburger {
        display: flex;
        gap: 6px;
        padding: 2px;
        cursor: pointer;
      }

      .nav-1 {
        display: block;
        position: static;
        width: 100%;
        top: 100px;
        left: 0;
      }

      .nav-1 ul {
        display: none;
      }

      .nav-1 ul.active {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: lightgrey;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px 0;
      }

      .nav-1 ul.active {
        display: flex;
      }

      .nav-1 li {
        list-style: none;
      }
      
      .mid-section {
        grid-template-columns: 1fr;
        gap: 20px;
      }
        

      .pic-link {
        grid-template-columns: 1fr;
      }

      .scroll-track {
        animation-duration: 80s;
      }

      .contact {
        padding: 20px;
      }

      .form-header {
        flex-direction: column;
      }

      .form-logo,
      .contact {
        width: 100%;
      }

      .form-grid {
        grid-template-columns: 1fr;
      }

      .form-grid label {
        text-align: left;
      }

      .fieldset {
        padding: 20px;
      }
      
      header .s-button {
        display: none;
      }

      .service-card:hover {
        transform: none;
      }

      .during {
        display: none;
      }

      .baa {
        grid-template-columns: 1fr;
      }

    }

    footer {
      background-color:#d7f72b;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }